/* CSS */

body {
font-family: sans-serif;
background-image: url(images/isu.jpg);
background-repeat: no-repeat;
background-position: top center;
}

header {
  color: orange;
font-style: italic;
  font-weight: normal;
}

.boxmodel {
border: 2px solid #000000;
padding: 20px 20px 20px 20px;
margin: 10px 10px 10px 10px;
}

.textcenter {
  text-align: center;
}

.textjustify {
text-align: justify;
}

.imgbox {
border: 10px solid #000000;
padding: 10px 10px 10px 10px;
margin: 20px 20px 20px 20px;
background-color: #FFFFFF;
}
