/* This is my new style sheet*/
/*
p {
 color: #ff0000;
 background-color: #0000FF;
}
*/

h1 {
  background-color: #80CBB3;
}

a {
 color: #ff0000;
 text-decoration: none;
}

a:link {
 color: #00ff00;
}

a:visited {
 color: #0000ff;
}

a:active {
 color: #00ffff;
}

a:hover {
 color: #ffff00;
 text-decoration: underline;
}


#specialid {
  color: #00FF00;
  background-color: #000000;
}

.specialp {
  color: #00FF00;
  background-color: #FFFFFF;
}

footer {
  background-color: red;
}

#divexample {
  color: #FF0000;
}

.spanstyle {
  color: #0000FF;
}
